$desktopSlideWidthPx: 744;
$desktopSlideHeightPx: 456;

$tabletSlideWidthPx: 552;
$tabletSlideHeightPx: 336;

$mobileSlideWidthPx: 352;
$mobileSlideHeightPx: 216;

$pcWidthPx: 744;
$pcHeightPx: 456;
$pcScreenTopPx: 41;
$pcScreenLeftPx: 96;
$pcScreenRightPx: 96;
$pcScreenBottomPx: 54;

$mobileWidthPx: 216;
$mobileHeightPx: 428;
$mobileScreenTopPx: 58.78;
$mobileScreenLeftPx: 14.13;
$mobileScreenRightPx: 14.13;
$mobileScreenBottomPx: 50.76;
$mobileAddressTopPx: 36.04;
$mobileAddressLeftPx: 61.5;
$mobileAddressRightPx: 61.5;

$mobileGroupTopPx: 14;
$mobileGroupSidePx: 144;

$mobileSingleTopPx: 14;
$mobileSingleLeftPx: 264;

// Use percentages to scale freely

$pcWidth: percentage($pcWidthPx / $desktopSlideWidthPx);
$pcHeight: percentage($pcHeightPx / $desktopSlideHeightPx);
$pcScreenTop: percentage($pcScreenTopPx / $pcHeightPx);
$pcScreenLeft: percentage($pcScreenLeftPx / $pcWidthPx);
$pcScreenRight: percentage($pcScreenRightPx / $pcWidthPx);
$pcScreenBottom: percentage($pcScreenBottomPx / $pcHeightPx);

$mobileWidth: percentage($mobileWidthPx / $desktopSlideWidthPx);
$mobileHeight: percentage($mobileHeightPx / $desktopSlideHeightPx);
$mobileScreenTop: percentage($mobileScreenTopPx / $mobileHeightPx);
$mobileScreenLeft: percentage($mobileScreenLeftPx / $mobileWidthPx);
$mobileScreenRight: percentage($mobileScreenRightPx / $mobileWidthPx);
$mobileScreenBottom: percentage($mobileScreenBottomPx / $mobileHeightPx);

$mobileAddressTop: percentage($mobileAddressTopPx / $mobileHeightPx);
$mobileAddressLeft: percentage($mobileAddressLeftPx / $mobileWidthPx);
$mobileAddressRight: percentage($mobileAddressRightPx / $mobileWidthPx);

$mobileGroupTop: percentage($mobileGroupTopPx / $desktopSlideHeightPx);
$mobileGroupSide: percentage($mobileGroupSidePx / $desktopSlideWidthPx);

$mobileSingleTop: percentage($mobileSingleTopPx / $desktopSlideHeightPx);
$mobileSingleLeft: percentage($mobileSingleLeftPx / $desktopSlideWidthPx);

.devices-gallery {
    position: relative;
    width: v($desktopSlideWidthPx);
    height: v($desktopSlideHeightPx);

    cursor: pointer;

    .devices-gallery__item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .devices-gallery__screen {
        position: absolute;
        overflow: hidden;
    }

    &__pc {
        position: absolute;
        left: 0;
        top: 0;
        width: $pcWidth;
        height: $pcHeight;

        & > img {
            width: 100%;
            height: 100%;
        }

        & > .devices-gallery__screen {
            top: $pcScreenTop;
            left: $pcScreenLeft;
            bottom: $pcScreenBottom;
            right: $pcScreenRight;

            & > img {
                object-fit: cover;
                height: 100%;
                object-position: left;
            }
        }
    }

    &__mobile {
        position: absolute;
        width: $mobileWidth;
        height: $mobileHeight;

        & > img {
            width: 100%;
            height: 100%;
        }

        &-address {
            @include textFont;

            position: absolute;
            top: $mobileAddressTop;
            left: $mobileAddressLeft;
            right: $mobileAddressRight;
            
            line-height: v(19);
            font-size: v(10);
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
        }
        
        & > .devices-gallery__screen {
            top: $mobileScreenTop;
            left: $mobileScreenLeft;
            right: $mobileScreenRight;
            bottom: $mobileScreenBottom;
            
            & > img {
                object-fit: cover;
                width: 100%;
            }
        }

        &--1 {
            left: $mobileGroupSide;
            top: $mobileGroupTop;
        }

        &--2 {
            right: $mobileGroupSide;
            top: $mobileGroupTop;
        }

        &--single {
            left: $mobileSingleLeft;
            top: $mobileSingleTop;
        }
    }
}

@include mobile {
    .devices-gallery {
        width: v($mobileSlideWidthPx);
        height: v($mobileSlideHeightPx);

        &__mobile-address {
            line-height: v(10);
            font-size: v(5);
        }
    }
}

// @include tablet {
//     .devices-gallery {
//         width: v($tabletSlideWidthPx);
//         height: v($tabletSlideHeightPx);

//         &__mobile-address {
//             line-height: v(10);
//             font-size: v(5);
//         }
//     }
// }
