
@keyframes mouse-help-icon-wheel-anim {
    0% {
        top: v(6);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: v(14);
        opacity: 0;
    }
}

@keyframes mouse-help-icon-label-anim {
    0% {
        color: rgba(255, 255, 255, 0.63);
    }
    100% {
        color: rgba(255, 255, 255, 0.85);
    }
}

.mouse-help-icon {
    position: relative;

    width: v(20);
    height: v(32);
    border: v(2) solid rgba(255, 255, 255, 0.3);
    border-radius: v(10.8);

    &__wheel {
        position: absolute;
        left: 50%;
        top: v(6);
        transform: translate(-50%, -50%);
        width: v(5.2);
        height: v(5.2);
        border-radius: v(2);
        background-color: white;
        animation: mouse-help-icon-wheel-anim 2s infinite;
    }

    &__label {
        @include textFont;
        
        position: absolute;
        left: 50%;
        top: v(36);
        transform: translateX(-50%);
        white-space: nowrap;
        font-size: v(12);
        color: rgba(255, 255, 255, 0.63);
        animation: mouse-help-icon-label-anim 1.8s infinite alternate;
    }
}