
@keyframes mouse-help-icon-wheel-anim {
    0% {
        top: 1.5rem;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 3.5rem;
        opacity: 0;
    }
}

@keyframes mouse-help-icon-label-anim {
    0% {
        color: rgba(255, 255, 255, 0.63);
    }
    100% {
        color: rgba(255, 255, 255, 0.85);
    }
}

.mouse-help-icon {
    position: relative;

    width: 5rem;
    height: 8rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.3);
    border-radius: 2.7rem;

    &__wheel {
        position: absolute;
        left: 50%;
        top: 1.5rem;
        transform: translate(-50%, -50%);
        width: 1.3rem;
        height: 1.3rem;
        border-radius: v(2);
        background-color: white;
        animation: mouse-help-icon-wheel-anim 2s infinite;
    }

    &__label {
        @include textFont;
        
        position: absolute;
        left: 50%;
        top: 9rem;
        transform: translateX(-50%);
        white-space: nowrap;
        font-size: 3rem;
        color: rgba(255, 255, 255, 0.63);
        animation: mouse-help-icon-label-anim 1.8s infinite alternate;
    }
}