@keyframes cta-arrow-anim {
    0% {
        transform: rotate3d(1,0,0,0deg);
        color: $accentLight60;
    }
    50% {
        transform: rotate3d(1,0,0,180deg);
        color: $accentLight80;
    }
    100% {
        transform: rotate3d(1,0,0,360deg);
        color: $accentLight60;
    }
}

.cta-arrow {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: $accentLight60;
    height: v(24);

    i {
        position: absolute;
        left: 0;
        top: 40%;
        font-size: v(14);
        animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
    }

    span {
        margin-left: v(24);
        font-size: v(24);
        line-height: v(32);
    }

    &:hover {
        i {
            animation: cta-arrow-anim 1s infinite;
        }
    }

    &--small {
        i {
            top: 28%;
            font-size: v(12);
        }
        span {
            @include --p;
            margin-left: v(20);
        }
    }
}
