@keyframes hero-cta-arrow-anim {
    0% {
        transform: rotate3d(1,0,0,0deg);
    }
    50% {
        transform: rotate3d(1,0,0,180deg);
    }
    100% {
        transform: rotate3d(1,0,0,360deg);
    }
}

@keyframes hero-slide-head-appearing {
    0% {
        max-width: 0;
    }
    100% {
        max-width: 70vw;
    }
}

@keyframes hero-slide-element-appearing {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hero-slide-head-disappearing {
    0% {
        max-width: 70vw;
    }
    100% {
        max-width: 0;
    }
}

@keyframes hero-slide-element-disappearing {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.hero {
    position: relative;
    background-color: black;

    & > .section-content {
        min-height: v(696);
        height: 100vh;
    }

    .hero-video-backdrop {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    .top-bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: v(96);
        background: none;
        z-index: 2;

        &__logo {
            position: absolute;
            left: v(48);
            top: v(16);
            width: v(72);
            height: v(64);
        }

        &__menu {
            float: right;
            margin-top: v(24);
            margin-right: v(16);
        }
    }

    .request-estimate-btn {
        float: right;
        margin-top: v(20);
        margin-right: v(32);
    }

    .hero-backdrop {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: radial-gradient(275.50px at 59.19% 54.38%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.14) 100%), radial-gradient(368.00px at 59.4% 51.36%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.18) 100%), radial-gradient(614.48px at 57.97% 54.31%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.44) 100%);
    }

    .hero-shadow-left {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.61);
        width: 100%;
        height: 100vh;
        right: 100%;
    }
    .hero-shadow-right {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.61);
        width: 100%;
        height: 100vh;
        right: -100%;
    }

    .hero-slide-video {
        z-index: 0;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: black;
        display: none;

        video {
            display: none;

            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            top: 50%;
            transform: translateY(-50%);
        }

        &--visible {
            display: block;
            video {
                display: block;
            }
        }
    }

    .hero-slide-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        .hero-slide {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            &__head-wrapper {
                display: inline-block;
                position: relative;
                margin: 0;
                margin-top: v(144);
                margin-bottom: v(24);
                margin-left: v(72);
            }

            &__head {
                display: inline-block;
                margin: 0;
                color: white;
                font-size: v(54);
                line-height: v(64);

                white-space: nowrap;
                
                overflow: hidden;
                max-width: 70vw;
            }

            // &__head-outline {
            //     display: inline-block;
            //     position: absolute;
            //     left: 50%;
            //     top: 50%;
            //     transform: translate(-50%, -50%); //  scale(1.1, 1.1);
            //     width: 100%;

            //     margin: 0;
            //     color: white;
            //     font-size: v(54);
            //     line-height: v(64);
            // }

            &__text {
                margin: 0;
                padding-left: v(72);
                margin-bottom: v(24);
                color: white;
                line-height: v(32);
                font-size: v(24);
            }

            &__cta {
                position: relative;
                display: inline-block;
                cursor: pointer;
                margin-left: v(72);
                color: $accentLight60;
                height: v(24);
                margin-bottom: v(72);

                i {
                    position: absolute;
                    top: 40%;
                    font-size: v(14);
                }

                span {
                    margin-left: v(24);
                    font-size: v(24);
                    line-height: v(32);
                }

                &:hover {
                    i {
                        animation: hero-cta-arrow-anim 1s infinite;
                        animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
                    }
                }
            }

            &__items {
                position: absolute;
                bottom: unquote("calc(" + v(48) + " + 5%)");
                list-style: none;
                list-style-type: none;
                display: block;
                width: 100%;
                padding-left: v(72);

                transform: translateY(0%);

                transition-property: transform;
                transition-duration: 0.5s;

                .mouse-help-icon {
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    top: v(110);
                }
            }

            .hero-slide-item {
                position: relative;
                width: 33%;
                display: inline-block;

                img {
                    float: left;
                    width: v(56);
                    height: v(56);
                }

                p {
                    margin: 0;
                    margin-left: v(16);
                    float: left;
                    height: v(56);

                    color: white;
                    font-size: v(16);
                    line-height: v(24);

                    display : flex;
                    align-items : center;
                }

                &__number {
                    color: $accentLight60;
                    font-weight: 500;
                    font-size: v(92);
                    line-height: v(64);
                }
            }

            &--visible {
                display: block;

                .hero-slide__head {
                    animation: hero-slide-head-appearing 1.5s forwards;
                }
                .hero-slide__cta {
                    animation: hero-slide-element-appearing 1.5s forwards;
                }
                .hero-slide__text {
                    animation: hero-slide-element-appearing 1.5s forwards;
                }
                .hero-slide__items {
                    animation: hero-slide-element-appearing 1.5s forwards;
                }
            }

            &--disappearing {
                .hero-slide__head {
                    animation: hero-slide-head-disappearing 0.5s forwards;
                }

                .hero-slide__cta {
                    animation: hero-slide-element-disappearing 0.5s forwards;
                }
                .hero-slide__text {
                    animation: hero-slide-element-disappearing 0.5s forwards;
                }

                .hero-slide__items {
                    transform: translateY(-40%);
                    animation: hero-slide-element-disappearing 0.5s forwards;
                }

                &.--up {
                    .hero-slide__items {
                        transform: translateY(40%);
                    }
                }
            }
        }
    }

    .hero-video-progress-menu {
        position: absolute;
        right: v(72);
        top: v(312);

        .hero-video-progress {
            text-align: right;
            cursor: pointer;

            p {
                display: inline;
                margin: 0;
                font-size: v(12);
                line-height: v(24);
                color: #CCCCCC;
                font-family: 'Source Sans Pro';
                margin-right: 8px;
                text-align: right;

                transition-duration: 0.1s;
                transition-property: font-size, color;
            }

            &__bar {
                display: inline-block;
                width: v(24);
                height: v(2);
                background-color: #4A8200;
                margin-bottom: 0.6rem;
            }

            &__bar-fill {
                height: 100%;
                background-color: #70C000;

                transition-duration: 0.5s;
                transition-property: width;
            }

            &--active {
                p {
                    font-size: v(16);
                    color: white;
                }

                .hero-video-progress__bar {
                    width: v(48);
                    height: v(2);
                    background-color: #4A8200;
                    margin-bottom: 0.8rem;
                }
            }
        }
    }
}