extends ../../layout.pug

block body
    include ./hero.pug
    section.we-help#we-help
        .section-content(style="height: 200vh")
            h1 Hello ola
            p Hello world
            a(href="/otherTestPage") Other