@import "../../styles.scss";

$accentBg: #540D11;
$accentFg: white;

@mixin accentColorSection {
    color: $accentFg;
    background: $accentBg;

    ::selection {
        color: $accentBg;
        background: $accentFg;
    }
}

.case-top {
    a.back-to-cases {
        i {
            width: v(24);
            height: v(24);
            font-size: v(16);
            line-height: v(24);
        }
        i, span {
            font-size: v(16);
            line-height: v(24);
            color: $accentLight60;
        }
    }

    h2 {
        @include headerFont;
        margin: 0;
        margin-bottom: v(24);
        font-weight: 500;
        font-size: v(36);
        line-height: v(48);
    }

    @include mobile {
        h2 {
            width: 100%;
            text-align: center;
        }
    }
}


.case {
    a.site-link {
        i {
            width: v(24);
            height: v(24);
            font-size: v(16);
            line-height: v(24);
        }
        i, span {
            font-size: v(16);
            line-height: v(24);
            color: $accentLight60;
        }
    }

    &__about {
        margin-bottom: v(120);

        h5 {
            @include headerFont;
            font-style: normal;
            font-weight: 500;
            font-size: v(20);
            line-height: v(28);
        }

        p {
            @include textFont;
            
            font-style: normal;
            font-weight: normal;
            font-size: v(16);
            line-height: v(24);
            margin-bottom: v(24);

            max-width: v(360);
        }
    }

    .devices-gallery {
        position: absolute;
        top: v(0);
        right: v(48);
        
        .gallery-item__screen--pc img {
            object-position: left;
        }
    }

    @include mobile {
        .section-content {
            padding-top: v(240);
        }

        .devices-gallery {
            left: 50%;
            transform: translateX(-50%);
        }
        .case__about {
            margin-bottom: v(24);
        }
    }
}

.goal {
    @include accentColorSection;

    .section-content {
        padding-left: v(168);
        padding-right: v(168);
        padding-top: v(48);
        padding-bottom: v(48);

        h3 {
            @include headerFont;

            margin: 0;
            margin-bottom: v(8);
            font-weight: 500;
            font-size: v(28);
            line-height: v(40);
        }

        p {
            @include textFont;

            margin: 0;
            font-size: v(16);
            line-height: v(24);
        }

        @include mobile {
            padding-top: v(32);
            padding-left: v(24);
            padding-right: v(24);
        }
    }
}

.dev .section-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-around;
    justify-content: space-around;
    
    padding-top: v(48);
    padding-bottom: v(48);
    box-sizing: border-box;

    .dev__item {
        flex: 1;
        max-width: v(504);

        h4 {
            @include headerFont;
            
            margin: 0;
            font-weight: 500;
            font-size: v(24);
            line-height: v(48);
        }

        p {
            @include textFont;
            
            margin: 0;
            font-size: v(16);
            line-height: v(24);
        }
    }

    @include mobile {
        display: block;
        padding-top: v(24);
        padding-bottom: v(24);

        .dev__item {
            display: block;
            margin-bottom: v(24);
        }
    }
}

.result {
    @include accentColorSection;

    .section-content {
        padding-left: v(168);
        padding-right: v(168);
        padding-top: v(48);
        padding-bottom: v(336);

        h3 {
            @include headerFont;

            margin: 0;
            margin-bottom: v(8);
            font-weight: 500;
            font-size: v(28);
            line-height: v(40);
        }

        p {
            @include textFont;

            margin: 0;
            font-size: v(16);
            line-height: v(24);
        }

        .result__previews {
            position: absolute;
            left: 0;
            right: 0;
            bottom: v(-5);

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            align-content: space-around;
            justify-content: space-around;

            img {
                flex: 1;
                max-width: v(312);
                height: v(302);
                border-top-left-radius: v(10);
                border-top-right-radius: v(10);

                transform: translate(v(0), v(0)) scale(1);
                transition-property: transform, opacity, margin-left, margin-right;
                transition-duration: 0.5s;
                opacity: 1;

                &:hover {
                    margin-left: v(0);
                    margin-right: v(0);
                    transform: translate(v(0), v(0)) scale(1);
                    opacity: 1;
                }
            }

            &--hovered img {
                margin-left: v(12);
                margin-right: v(12);
                transform: translateY(v(24)) scale(0.86);
                opacity: 0.6;
            }
        }
        
        @include mobile {
            padding-top: v(32);
            padding-left: v(24);
            padding-right: v(24);
            padding-bottom: v(48);

            .result__previews {
                display: none;
            }
        }
    }
}

.review {
    .section-content {
        padding-top: v(72);
        padding-bottom: v(72);
        max-width: v(696);
    }

    &__text {
        @include textFont;

        font-size: v(24);
        line-height: v(32);
        margin: 0;
        margin-bottom: v(16);
    }
    &__avatar {
        display: block;
        margin: 0 auto;

        width: v(120);
        height: v(120);

        border-radius: 50%;
        box-shadow: 0 v(4) 0 rgba(0, 0, 0, 0.2);
    }
    &__name {
        @include textFont;
        
        text-align: center;
        font-weight: bold;
        font-size: v(24);
        line-height: v(48);
        margin: 0;
    }
    &__job {
        @include textFont;
        
        text-align: center;
        font-size: v(16);
        line-height: v(24);
        margin: 0;
    }

    .review__quote {
        position: absolute;
        width: v(80);
    }

    .review__quote--left {
        top: v(150);
        left: v(-160);
    }
    .review__quote--right {
        top: v(150);
        right: v(-160);
    }

    @include mobile {
        .section-content {
            padding-top: v(32);
            padding-bottom: v(32);
            padding-left: v(24);
            padding-right: v(24);
        }
        .review__text {
            margin-bottom: v(32);
        }
    }
}