extends ../../layout.pug

block body
    +section('top')
        +top-bar([ 'sticky', 'padding' ], { currentPage: "/cases" })
    +section('case')
        .case__about
            a.back-to-cases(href="/cases")
                i.far.fa-arrow-left
                span назад к кейсам
            h2 Odin Media
            h5 Сайт–медиакаталог для компании<br>кино- и теледистрибьютора.
            p.
                Один Медиа входит в холдинг Формат ТВ. Компания управляет правами на телеконтент (телепрограммы, форматы, сериалы). Главная специализация  — документальные фильмы, в первую очередь научпоп и исторические.<br>
                <br>
                Работа началась с проекта, который, как обычно, нужен был «вчера». Ребята только образовались внутри телехолдинга, летели в Канны на медиарынок MIPTV, и им нужно было как-то презентовать свою подборку прав. Мы быстро создали лендинг с инфо о компании, обложками их основных телепроектов и помогли с печатными материалами для презентации.<br>
                <br>
                На запуск потратили менее двух недель. В последствии переделали сайт в полноценное SPA.
            a.site-link(href="https://odinmedia.tv/", target="_blank")
                i.far.fa-external-link-square
                span перейти на сайт
        +devices-gallery(
            "/assets/cases/odinmedia/odinmedia-pc.jpg",
            "/assets/cases/odinmedia/odinmedia-mobile.jpg",
            "/assets/cases/odinmedia/odinmedia-mobile2.jpg",
            "odinmedia.tv"
        )
    +section('goal')
        h3 Цель
        p Cоздать презентационный сайт для компании ОдинМедиа, занимающейся производством и продажей ТВ контента различных форматов. Сайт должен был не только представлять заказчика и контент, но и давать возможность купить права на понравившуюся продукцию
    +section('dev')
        .dev__item
            h4 Дизайн
            p Основная тема сайта, как и у многих проектов Один Медиа — космос. Цветовая гамма - оранжево-бордовая. Геометрическими формами планет в стиле Low-Poly мы поддержали логотип компании. На фоне — параллакс c перспективой из стилизованных планет. По пожеланию заказчика добавили в шапку анимированное слайд-шоу из обложек самых актуальных проектов компании. 
        .dev__item
            h4 Разработка
            p.
                Верстка полностью responsive. Создали 4 размерных версии сайта: для очень больших экранов, для экранов ноутбуков и горизонтальных планшетов, для вертикальных планшетов и мобильных телефонов.<br>
                <br>
                Сделали SPA Front-end на Vue.js, кастомный back-end для управления карточками медиа-продуктов на связке Vue.js+PHP. Оптимизировали UX добавления видео-трейлеров и стоп-кадров.
    +section('result')
        h3 Результат
        p.
            Сначала создали лендинг, а потом переделали его в SPA приложение. Визуально сайт изменился незначительно, но у сайта значительно расширились возможности.<br>
            <br>
            Для каждого фильма была сделана  карточка с описанием, техническими характеристиками, трейлером,  галереей стоп-кадров и т.д.  По сути каждая карточка — это мини сайт, который индексируется поисковиками. Также на странице любого ТВ продукта есть возможность «запросить права». 
        .result__previews
            img(-lazy-src="/assets/cases/odinmedia/preview1.jpg")
            img(-lazy-src="/assets/cases/odinmedia/preview2.jpg")
            img(-lazy-src="/assets/cases/odinmedia/preview3.jpg")
    +section('review')
        p.review__text Ребята используют самые передовые технологии для разработки продуктов. Уровень их компетенции позволяет подсказать верное решение конкретных задач. И эти решения реально работают. Благодаря профессионализму и творческому подходу студии к нашим проектам, все было реализовано на высочайшем уровне и в срок. Грамотный менеджмент превратил работу над проектом в сплошное удовольствие.
        img.review__avatar(-lazy-src="/assets/cases/odinmedia/review-avatar1.svg")
        h3.review__name Ольга Затулкина
        p.review__job генеральный директор Один Медиа
        img.review__quote.review__quote--left(-lazy-src="/assets/quote-left-ru.svg")
        img.review__quote.review__quote--right(-lazy-src="/assets/quote-right-ru.svg")
    +feedback-form([ 'section', 'dark' ], { headerText: 'Давайте сделаем что–то полезное и вам!' })
    +footer