@import "../../styles.scss";

.contacts .section-content {
    .contacts {
        &__info {
            float: left;

            h5 {
                font-style: normal;
                margin: 0;
            }

            p {
                margin-bottom: v(24);
                max-width: v(360);
            }

            margin-bottom: v(160);

            @include mobile {
                margin-bottom: v(24);
            }
        }

        &__map {
            float: right;
            width: v(744);
            height: auto;
            min-height: v(400);

            @include mobile {
                width: 100%;
            }
        }
    }

    a.socials-link {
        display: block;

        i {
            width: v(24);
            height: v(24);
            font-size: v(16);
            line-height: v(24);
        }
        i, span {
            font-size: v(16);
            line-height: v(24);
            color: $accentLight60;
        }
    }
}