extends ../../layout.pug

block body
    +section('top')
        +top-bar([ 'sticky', 'padding' ], { currentPage: "/contacts" })
    +section('contacts')
        h1 Контакты
        .contacts__info
            h5 Наш адрес:
            p.
                Россия, Москва,<br>
                ул. Казакова д. 6 с1, офис 602
            h5 Телефон:
            p
                a(href="tel:+74993945943") +7 (499) 394-59-43
            //- h5 Мы в соцсетях:
            //- a.socials-link(href="https://www.facebook.com/berezadev/", target="_blank")
            //-     i.fab.fa-facebook-square
            //-     span facebook.com/berezadev/
            //- a.socials-link(href="https://www.instagram.com/berezadev/", target="_blank")
            //-     i.fab.fa-instagram
            //-     span instagram.com/berezadev/

        .contacts__map#map
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
    +feedback-form([ 'section' ])
    +footer