@import "../../styles.scss";

$hoverTransitionDuration: 1.5s;

section.cases > .section-content > h1 {
    @include headerFont;

    width: 100%;
    text-align: center;
    font-size: v(36);
    font-weight: 400;
    line-height: v(48);
}

.case-thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: black;
}

.case-thumbnail {
    position: relative;
    flex: 1;

    min-width: v(408);
    height: v(360);

    overflow: hidden;
    cursor: pointer;

    & > img {
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%;
        z-index: 0;

        transform: scale(1,1);
        transition-duration: $hoverTransitionDuration;
        transition-property: transform;
    }

    & > video {
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%;

        z-index: 1;
        opacity: 0;
        transition-duration: $hoverTransitionDuration;
        transition-property: opacity;
    }

    &__content {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 2;

        color: white;

        box-sizing: border-box;
        padding-top: v(24);
        padding-left: v(48);
        padding-bottom: v(24);
        padding-right: v(48);

        background-color: rgba(0,0,0,0.6);
        transition-duration: $hoverTransitionDuration;
        transition-property: background-color;
    }

    h6 {
        @include headerFont;

        font-size: v(12);
        line-height: v(24);
        margin: 0;
    }

    h2 {
        @include headerFont;

        font-size: v(36);
        line-height: v(48);
        font-weight: 500;
        margin: 0;
    }

    p {
        @include textFont;

        font-size: v(16);
        line-height: v(24);
        margin: 0;
    }

    &:hover {
        .case-thumbnail__content {
            color: $accentLight40;
            background-color: rgba(0,0,0,0.4);
        }
        & > img {
            transform: scale(1.1,1.1);
        }
        & > video {
            opacity: 1;
        }
    }
}