.features {
    padding-top: v(96);

    .top-bar {
        position: fixed;
        background: white;
    }
}

.features__we-help-items {
    margin-top: v(48);
    margin-left: v(48);
    margin-right: v(48);
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;

    margin-bottom: v(46);
}

.features__we-help-item {
    filter: saturate(0%);
    flex: 1;

    min-width: v(72);
    width: v(72);
    height: v(72);

    transition-duration: 0.6s;
    transition-property: filter;

    &:hover {
        filter: saturate(100%);
        // transform: translateY(1px) scale(1.02);
    }
    
    &--fade {
        opacity: 0.6;
        transition-property: opacity;
        filter: none;

        &:hover {
            opacity: 1;
            filter: none;
        }
    }
}

.features__we-offer-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;

    margin-left: v(72);
    margin-right: v(48);
    margin-bottom: v(48);
}

.features__we-offer-item {
    width: v(312);
    flex: 1;

    img {
        width: v(120);
        height: v(120);
        display: block;
        margin: 0 auto;
    }
    h2 {
        color: $primaryDark100;
        font-family: Ubuntu;
        line-height: v(48);
        font-size: v(36);
        text-align: center;
        margin: 0;
        margin-bottom: v(24);
    }
    ul {
        list-style: none;
        list-style-type: none;
        padding-left: v(60);

        li {
            position: relative;
            font-family: 'Source Sans Pro';
            color: $primaryDark80;
            line-height: v(24);
            font-size: v(16);
            margin-bottom: v(24);

            i {
                position: absolute;
                color: $accentLight60;
                left: v(-28);
                top: v(3);
                font-size: v(16);
                width: v(20);
                height: v(20);
                text-align: center;
            }
            span {

            }
        }
    }
}

.features__we-offer-text {
    font-size: v(24);
    line-height: v(30);
    color: $primaryDark80;
    text-align: center;
    margin-bottom: v(72);
}

@include mobile {
    .features {
        padding-top: 0;

        .menu-placeholder {
            height: v(42);
        }

        &__we-help-items {
            margin-left: v(24);
            margin-right: v(24);
            margin-bottom: v(18);
        }

        &__we-help-item  {
            width: v(72);
            height: v(72);
            margin: v(2);
        }

        &__we-offer-items {
            display: block;
            margin-top: v(24);
            margin-left: v(32);
            margin-right: v(48);
        }

        &__we-offer-item {
            flex: none;
            display: block;
            margin-right: 0;
            width: 100%;

            ul {
                padding-left: v(48);
            }
        }

        &__we-offer-text {
            margin-left: v(48);
            margin-right: v(48);
        }
    }
}