$heroLeftOffsetPx: 50; // 72 before, 48 from figma 
$heroLeftOffset: v($heroLeftOffsetPx);

$heroRightOffsetPx: $topBar_marginRight_px;
$heroRightOffset: $topBar_marginRight;

$heroMobileRightOffsetPx: 10;
$heroMobileRightOffset: v($heroMobileRightOffsetPx);

@keyframes hero-slide-head-appearing {
    0% {
        max-width: 0;
    }
    100% {
        max-width: 70vw;
    }
}

@keyframes hero-slide-head-appearing--mobile {
    0% {
        max-width: 0;
    }
    100% {
        max-width: 100vw;
    }
}

@keyframes hero-slide-element-appearing {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hero-slide-head-disappearing {
    0% {
        max-width: 70vw;
    }
    100% {
        max-width: 0;
    }
}

@keyframes hero-slide-head-disappearing--mobile {
    0% {
        max-width: 100vw;
    }
    100% {
        max-width: 0;
    }
}

@keyframes hero-slide-element-disappearing {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.hero {
    position: relative;
    background-color: black;

    & > .section-content {
        min-height: v(696);
        height: 100vh;
        padding: 0;
    }

    .hero-video-backdrop {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    .hero-slide-video {
        z-index: 0;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: black;
        display: none;

        video, img {
            display: none;
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            top: 50%;
            transform: translateY(-50%);
        }

        &--visible {
            display: block;
            video, img {
                display: block;
            }
        }

        &::after {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            content: ' ';
            background-color: rgba(17, 17, 19, 0.712);
        }
    }

    .hero-slide-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        .mouse-help-icon {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            bottom: v(20);
        }

        .hero-slide {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            &__head-wrapper {
                display: inline-block;
                position: relative;
                margin: 0;
                margin-top: v(144);
                margin-bottom: v(24);
                margin-left: $heroLeftOffset;
            }

            &__head {
                display: inline-block;
                color: white;
                font-size: v(54);
                line-height: v(64);
                text-align: left;
                font-weight: 700;

                white-space: nowrap;
                
                overflow: hidden;
                max-width: 70vw;

                text-shadow: 0px 0px v(24) rgba(0, 0, 0, 0.25);
            }

            // &__head-outline {
            //     display: inline-block;
            //     position: absolute;
            //     left: 50%;
            //     top: 50%;
            //     transform: translate(-50%, -50%); //  scale(1.1, 1.1);
            //     width: 100%;

            //     margin: 0;
            //     color: white;
            //     font-size: v(54);
            //     line-height: v(64);
            // }

            &__text {
                @extend .p--big;

                padding-left: $heroLeftOffset;
                margin-bottom: v(24);
                color: white;

                text-shadow: 0px 0px v(24) rgba(0, 0, 0, 0.25);
            }

            &__cta {
                margin-left: $heroLeftOffset;
                margin-bottom: v(72);
            }

            &__items {
                position: absolute;
                bottom: unquote("calc(" + v(48) + " + 5%)");
                list-style: none;
                list-style-type: none;
                display: block;
                width: 100%;
                padding-left: v(72);
                box-sizing: border-box;

                transform: translateY(0%);

                transition-property: transform;
                transition-duration: 0.5s;
            }

            .hero-slide-item {
                position: relative;
                width: 33%;
                display: inline-block;

                &__icon {
                    float: left;
                    width: v(56);
                    height: v(56);
                }

                &__photo {
                    position: relative;
                    display: inline-block;
                    width: v(32);
                    height: v(40);
                    float: left;

                    & > img {
                        position: absolute;
                        width: v(40);
                        height: v(40);
                        border-radius: 50%;
                        z-index: 2;
                    }

                    &-backdrop {
                        position: absolute;
                        display: block;
                        top: v(-8);
                        left: v(-8);
                        bottom: v(-8);
                        right: v(-16);
                        background-color: white;
                        z-index: 1;
                        border-radius: 50%;
                    }

                    &:last-of-type {
                        margin-right: v(16);
                    }
                }

                p {
                    @include textFont;
                    
                    margin: 0;
                    margin-left: v(16);
                    float: left;
                    height: v(56);

                    color: white;
                    font-size: v(16);
                    line-height: v(24);
                    // line-height: v(64);

                    display : flex;
                    align-items : center;

                    text-shadow: 0px 0px v(24) rgba(0, 0, 0, 0.5);
                }

                &__number {
                    float: left;
                    color: $accentLight60;
                    font-weight: 500;
                    font-size: v(92);
                    line-height: 0;
                }
            }

            // TODO: fix this shit, wrong line-height
            
            .hero-slide-item__photo + .hero-slide-item__number {
                margin-left: v(8);

                & > img {
                    height: v(52);
                    transform: unquote("translateY("+ v(-7) +")");
                }
            }
            .hero-slide-item__photo ~ p {
                transform: unquote("translateY("+ v(-8) +")");
            }

            &--visible {
                display: block;

                .hero-slide__head {
                    animation: hero-slide-head-appearing 1.5s forwards;
                }
                .hero-slide__cta {
                    animation: hero-slide-element-appearing 1.5s forwards;
                }
                .hero-slide__text {
                    animation: hero-slide-element-appearing 1.5s forwards;
                }
                .hero-slide__items {
                    animation: hero-slide-element-appearing 1.5s forwards;
                }
            }

            &--disappearing {
                .hero-slide__head {
                    animation: hero-slide-head-disappearing 0.5s forwards;
                }

                .hero-slide__cta {
                    animation: hero-slide-element-disappearing 0.5s forwards;
                }
                .hero-slide__text {
                    animation: hero-slide-element-disappearing 0.5s forwards;
                }

                .hero-slide__items {
                    transform: translateY(-40%);
                    animation: hero-slide-element-disappearing 0.5s forwards;

                    @include mobile {
                        transform: translateX(-40%);
                    }
                }

                &.--next {
                    .hero-slide__items {
                        transform: translateY(40%);

                        @include mobile {
                            transform: translateX(40%);
                        }
                    }
                }
            }
        }
    }

    .hero-video-progress-menu {
        position: absolute;
        right: v($heroRightOffsetPx + 10);
        top: v(312);

        .hero-video-progress {
            text-align: right;
            cursor: pointer;

            p {
                @include textFont;
                
                display: inline;
                margin: 0;
                font-size: v(12);
                line-height: v(24);
                color: #9e9e9e; // #CCCCCC;
                margin-right: v(8);
                text-align: right;

                transition-duration: 0.1s;
                transition-property: font-size, color;
            }

            &__bar {
                display: inline-block;
                width: v(24);
                height: v(2);
                background-color: #4A8200;
                margin-bottom: v(2.4);
            }

            &__bar-fill {
                height: 100%;
                background-color: #70C000;

                transition-duration: 0.5s;
                transition-property: width;
            }

            &--active {
                p {
                    font-size: v(16);
                    color: white;
                }

                .hero-video-progress__bar {
                    width: v(48);
                    height: v(2);
                    background-color: #4A8200;
                    margin-bottom: v(3.2);
                }
            }
        }
    }

    @include mobile {
        & > .section-content {
            min-height: v(680);
            height: auto;
        }

        .mouse-help-icon {
            display: none;
        }

        .hero-slide {
            &__head-wrapper {
                margin-top: v(120) !important;
                margin-left: v(24) !important;
                width: 100%;
            }

            &__head {
                font-size: v(36) !important;
                line-height: v(42) !important;

                // width: 90vw;
                // white-space: normal !important;
            }

            &--visible {
                .hero-slide__head {
                    animation-name: hero-slide-head-appearing--mobile !important;
                }
            }
            &--disappearing {
                .hero-slide__head {
                    animation-name: hero-slide-head-disappearing--mobile !important;
                }
            }

            &__text {
                font-size: v(16) !important;
                line-height: v(24) !important;
                padding-left: v(24) !important;
            }

            &__cta {
                margin-left: v(24) !important;
                margin-bottom: 0 !important;
                width: 100%;
            }
        }
        .hero-video-progress-menu {
            right: $heroMobileRightOffset;
            bottom: v(70);
            top: initial;

            p {
                display: none !important;
            }
        }
        .hero-slide__items {
            display: block !important;
            position: relative !important;
            bottom: initial !important;
            padding-left: v(24) !important;
            margin-top: v(48) !important;
        }
        .hero-slide-item {
            display: block !important;
            position: relative !important;
            height: v(72) !important;
            width: 100% !important;
        }

        .hero-backdrop {
            left: -50vw;
            right: -50vw;
        }
        .hero-shadow-left {
            display: none;
        }
        .hero-shadow-right {
            display: none;
        }
    }
}
