extends ../../layout.pug

block body
    include ./hero.pug
    include ./features.pug
    +feedback-form('dark', 'section')
        +side-header(siteData('blocks.label_main_contact'), undefined, "on-dark")
    +footer