@import "../../styles.scss";
@import "./hero.scss";
@import "./features.scss";

.top-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: v(96);
    background: none;
    z-index: 2;

    &__logo {
        position: absolute;
        left: v(48);
        top: v(16);
        width: v(72);
        height: v(64);
    }

    &__menu {
        float: right;
        margin-top: v(24);
        margin-right: v(16);
    }
}

.request-estimate-btn {
    float: right;
    margin-top: v(20);
    margin-right: v(32);
}