include ./utils/index.pug
include ./feedback/index.pug
include ./footer/index.pug
include ./inputs/index.pug
include ./menu-placeholder/index.pug
include ./mouse-help-icon/index.pug
include ./nav-menu/index.pug
include ./request-estimate-btn/index.pug
include ./side-header/index.pug
include ./top-bar/index.pug
include ./devices-gallery/index.pug
include ./cta-arrow/index.pug