
mixin footer
    section.footer.full#footer
        .section-content
            p © 2019. ООО «Береза-Развитие».
            a(href="mailto:job@berezadev.com?subject=Стажировка") Стажировка
            //- a(href="/politic-confident.pdf") Политика конфиденциальности
