
mixin footer
    section.footer#footer
        .section-content
            p= siteData('blocks.copyright')
            a(href="mailto:job@berezadev.com?subject=Стажировка")= siteData('blocks.job_label')
            //- a(href="/politic-confident.pdf") Политика конфиденциальности
