
mixin footer
    section.footer#footer
        .section-content
            p= siteData('blocks.copyright')
            a(href="mailto:job@berezadev.com?subject=Стажировка") Стажировка
            //- a(href="/politic-confident.pdf") Политика конфиденциальности
