//- flags = dark
mixin request-estimate-btn(flags=[])
    button(class=classNames('request-estimate-btn', flags.has('dark') && 'request-estimate-btn--dark'))
        i.fas.fa-calculator
        span Запросить смету