extends ../../layout.pug

block body
    +section('top')
        +top-bar([ 'sticky', 'padding' ], { currentPage: "/cases" })
    +section('case')
        .case__about
            a.back-to-cases(href="/cases")
                i.far.fa-arrow-left
                span назад к кейсам
            h2 autoscaners.ru
            h5 Web-разработка и техническая<br>поддержка интернет-магазина с<br>более чем 35 000 SKU
            p.
                Сотрудничество с проектом autoscaners.ru мы начали с отражения DDOS-атаки, которую заказали конкуренты сервиса.<br>
                В сегодняшний день мы проделываем массу работы: постоянно оптимизируем работу 1C Bitrix, выполняем задачи  по SEO-оптимизации, внедрили сквозную аналитику, создали с десяток лендингов и веб приложения для сотрудников торгового зала и склада
            a.site-link(href="https://www.autoscaners.ru/", target="_blank")
                i.far.fa-external-link-square
                span перейти на сайт
        +devices-gallery(
            "/assets/cases/autoscaners/autoscaners-pc.jpg",
            "/assets/cases/autoscaners/autoscaners-mobile.jpg",
            "/assets/cases/autoscaners/autoscaners-mobile2.jpg",
            "www.autoscaners.ru"
        )
    +feedback-form([ 'section' ])
    +footer