@import "../../styles.scss";

.case {
    a.back-to-cases {
        i {
            width: v(24);
            height: v(24);
            font-size: v(16);
            line-height: v(24);
        }
        i, span {
            font-size: v(16);
            line-height: v(24);
            color: $accentLight60;
        }
    }

    a.site-link {
        i {
            width: v(24);
            height: v(24);
            font-size: v(16);
            line-height: v(24);
        }
        i, span {
            font-size: v(16);
            line-height: v(24);
            color: $accentLight60;
        }
    }

    &__about {
        padding-left: v(48);
        padding-right: v(48);
        margin-bottom: v(100);

        h2 {
            margin: 0;
            margin-bottom: v(24);
            font-family: $headerFont;
            font-weight: 500;
            font-size: v(36);
            line-height: v(48);
        }

        h5 {
            font-family: $headerFont;
            font-style: normal;
            font-weight: 500;
            font-size: v(20);
            line-height: v(28);
        }

        p {
            font-family: $textFont;
            font-style: normal;
            font-weight: normal;
            font-size: v(16);
            line-height: v(24);
            margin-bottom: v(24);

            max-width: v(360);
        }
    }

    &__gallery {
        position: absolute;
        top: v(112);
        right: v(48);

        & > img {
            height: v(420);
        }
    }
}