extends ../../layout.pug

block body
    section.top
        .section-content
            +top-bar([ 'sticky', 'padding' ], { currentPage: "/case-autoscaners" })
    section.case
        .case__about
            a(href="/cases")
                i.fa.fal-arrow-right
                span Назад к кейсам
            h2 autoscaners.ru
            h5 Web-разработка и техническая<br>поддержка интернет-магазина с<br>более чем 35 000 SKU
            p.
                Сотрудничество с проектом autoscaners.ru мы начали с отражения DDOS-атаки, которую заказали конкуренты сервиса. 
                В сегодняшний день мы проделываем массу работы: постоянно оптимизируем работу 1C Bitrix, выполняем задачи  по SEO-оптимизации, внедрили сквозную аналитику, создали с десяток лендингов и веб приложения для сотрудников торгового зала и склада
            a(href="https://www.autoscaners.ru/")
                i.fa.fal-arrow-right
                span Перейти на сайт
        .case__gallery
            img(-lazy-src="/assets/cases/macbook.svg")
            .case__gallery-container
    +feedback-form([ 'section' ])
    +footer