@import "../../parts/case-layout/styles.scss";

$accentBg: #540D11;
$accentFg: white;

@mixin accentColorSection {
    color: $accentFg;
    background: $accentBg;

    // ::selection {
    //     color: $accentBg;
    //     background: $accentFg;
    // }
}

.case-top .section-content {
    h2 {
        margin-top: 0;
        margin-bottom: v(48);
    }
}

.goal {
    @include accentColorSection;

    .section-content {
        padding-left: v(168);
        padding-right: v(168);
        padding-top: v(48);
        padding-bottom: v(48);
    }

    h3 {
        margin-bottom: v(8);
    }

    @include mobile {
        .section-content {
            padding-top: v(32);
            padding-left: v(24);
            padding-right: v(24);
        }
    }
}

.dev {
    .section-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        align-content: space-around;
        justify-content: space-around;
        
        padding-top: v(40);
        padding-bottom: v(48);
        box-sizing: border-box;
    }

    h4 {
        margin: 0;
    }

    &__item {
        flex: 1;
        max-width: v(504);
    }

    @include mobile {
        .section-content {
            display: block;
            padding-top: v(24);
            padding-bottom: v(24);
        }

        .dev__item {
            display: block;
            margin-bottom: v(24);
        }
    }
}

.result {
    @include accentColorSection;

    .section-content {
        padding-left: v(168);
        padding-right: v(168);
        padding-top: v(48);
        padding-bottom: v(48);
    }

    h3 {
        margin-bottom: v(8);
    }

    &--has-previews {
        .section-content {
            padding-bottom: v(336);
        }
    }

    &__previews {
        position: absolute;
        top: 100%;
        left: v(24);
        right: v(24);

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        align-content: space-around;
        justify-content: space-around;

        img {
            flex: 1;
            max-width: v(320);
            width: v(320);
            height: auto;
            object-fit: contain;
            object-position: left top;

            // height: v(326);
            border-top-left-radius: v(10);
            border-top-right-radius: v(10);

            transform: translateY(v(-288));
            transition-property: transform, box-shadow;
            transition-duration: 0.5s;

            // box-shadow: 0px v(4) v(16) rgba(0, 0, 0, 0);

            &:hover {
                transform: translateY(v(-312));
                // box-shadow: 0px v(4) v(16) rgba(0, 0, 0, 0.5);
            }
        }
    }
    
    @include mobile {
        .section-content {
            padding-top: v(32);
            padding-left: v(24);
            padding-right: v(24);
            // padding-bottom: v(48);
            padding-bottom: v(342);
        }

        .result__previews {
            // display: none;
            img {
                margin-right: v(18);
                margin-left: v(18);
            }

            ._1,
            ._3 {
                opacity: 0.7;
            }
        }
    }
}

.goal, .dev, .result {
    p + p {
        margin-top: v($casePMarginBottom);
    }
}

.review {
    .section-content {
        padding-top: v(72);
        padding-bottom: v(72);
        max-width: v(696);
    }

    &__text,
    &__text p {
        @include --p-big;
        
        margin-bottom: v(16);
    }

    &__text--small,
    &__text--small p {
        @include --p;
    }

    &__avatar {
        display: block;
        margin: 0 auto;

        width: v(120);
        height: v(120);

        box-sizing: border-box;
        border: v(8) solid #F2F2F2;

        border-radius: 50%;
        box-shadow: 0 v(4) 0 rgba(0, 0, 0, 0.2);
    }
    &__name {
        @include textFont;
        
        text-align: center;
        font-weight: bold;
        font-size: v(24);
        line-height: v(48);
        margin: 0;
    }
    &__job {
        @include textFont;
        
        text-align: center;
        font-size: v(16);
        line-height: v(24);
        margin: 0;
    }

    &__quote {
        position: absolute;
        width: v(80);

        &--left {
            top: v(150);
            left: v(-160);
        }
        &--right {
            top: v(150);
            right: v(-160);
        }
    }

    @include mobile {
        .section-content {
            padding-top: v(72);
            padding-bottom: v(72);
            padding-left: v(48);
            padding-right: v(48);
        }
        .review__text {
            margin-bottom: v(72);
        }
        .review__text, p {
            font-size: v(20);
        }
        .review__quote {
            width: v(72);
            &--left {
                top: initial;
                bottom: v(170);
                left: v(24);
            }
            &--right {
                top: initial;
                bottom: v(170);
                right: v(24);
            }
        }
        .review__job {
            font-size: v(16);
        }
        .review__name {
            font-size: v(24);
        }
    }
}