$accentLight10: #F4FED8;
$accentLight30: #C4F06D;
$accentLight40: #94E107;
$accentLight60: #70C000;
$accentLight80: #4A8200;

$primaryDark30: #CCCCCC;
$primaryDark40: #A6A6A6;
$primaryDark60: #737373;
$primaryDark70: #595959;
$primaryDark80: #4C4C4C;
$primaryDark90: #333333;
$primaryDark100: #262626;

$headerFontFamily: 'Ubuntu', Cantarell, 'Helvetica Neue', sans-serif;
$textFontFamily: 'Source Sans Pro', Geneva, Arial, sans-serif;
