$accentLight10: #F4FED8;
$accentLight30: #C4F06D;
$accentLight40: #94E107;
$accentLight60: #70C000;
$accentLight80: #4A8200;

$primaryDark60: #737373;
$primaryDark80: #4C4C4C;
$primaryDark90: #333333;
$primaryDark100: #262626;

@mixin headerFont {
    font-family: 'Ubuntu', Cantarell, 'Helvetica Neue', sans-serif;
    font-display: swap;
}

@mixin textFont {
    font-family: 'Source Sans Pro', Geneva, Arial, sans-serif;
    font-display: swap;
}