include ./parts/all.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        block title
            title Berﾑ想a web development

        meta(name='description' content='Berﾑ想a web development')
        link(rel='favicon', href='/favicon.ico')
        link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
        link(rel='manifest', href='/site.webmanifest')
        link(rel='mask-icon', color='#000000', href='/safari-pinned-tab.svg')
        meta(name='msapplication-TileColor', content='#000000')
        meta(name='theme-color', content='#ffffff')

        meta(property="og:title" content="Berﾑ想a web development")
        meta(property="og:image" content="http://berezadev.com/android-chrome-512x512.png")

        meta(name="twitter:title" content="Berﾑ想a web development ")
        meta(name="twitter:image" content=" http://berezadev.com/android-chrome-512x512.png")
        meta(name="twitter:card" content="summary_large_image")

        style.
            html {
                font-size: 4px;
            }

        +linkLazyCSS("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Ubuntu:300,500&amp;subset=cyrillic")
        +linkLazyCSS("assets/css/fontawesome-all.min.css")

        script(src="https://code.jquery.com/jquery-3.3.1.min.js" async defer integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
        noscript
            //- link(href="../../core/no-script.scss" rel="stylesheet")
        block head
    body
        block body
        if process.env.BUILD === 'prod'
            <!-- Yandex.Metrika counter -->
            script(type="text/javascript").
                (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
                m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
                (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

                ym(53263192, "init", {
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                });
            noscript.
                <div>
                    <img src="https://mc.yandex.ru/watch/53263192" style="position:absolute; left:-9999px;" alt="" />
                </div>
            <!-- /Yandex.Metrika counter -->