@import "./constants.scss";

section {
    position: relative;
    max-width: v(1224);
    margin: 0 auto;
}

section, footer.full {
    overflow: hidden;
}

section.full, footer.full {
    width: 100%;
    max-width: 100%;
    margin: 0;

    & > .section-content {
        position: relative;
        max-width: v(1224);
        margin: 0 auto;

        @include mobile {
            max-width: v(408);
        }
    }
}

.nobr {
    white-space: nowrap;
}

a {
    cursor: pointer;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Ubuntu';
    font-weight: 400;
}
p.p-small {
    line-height: v(24);
    font-size: v(12);
    color: #4C4C4C;
}

// .btn {
//     cursor: pointer;
//     border: none;
//     text-transform: uppercase;
//     box-sizing: border-box;
//     line-height: 100%;
//     text-align: center;
//     border-radius: v(4);

//     width: v(240);
//     height: v(40);

//     &-ghost {
//         color: white;
//         background-color: black;
//         border: v(2) solid white;
//         font-size: v(12);
//         font-weight: 300;
//     }
//     &-primary {
//         color: black;
//         background-color: white;
//         font-size: v(16);
//         font-weight: normal;

//     }
// }

// .btn,
// [role="button"] {
//     transition-duration: 0.01s;
//     transition-property: font-weight;

//     &:hover {
//         font-weight: 600;
//     }
// }

.nav-menu {
    display: inline-block;

    a {
        position: relative;
        display: inline-block;
        font-size: v(16);
        font-weight: 300;
        font-family: Ubuntu;
        line-height: v(24);
        text-align: center;

        padding-left: v(21);
        padding-right: v(21);

        .nav-menu__item-placeholder {
            opacity: 0;
        }

        .nav-menu__item-text {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
            text-align: inherit;
            color: black;
            height: v(48);

            transition-duration: 0.01s;
            transition-property: color;
        }

        &:hover {
            & > .nav-menu__item-text {
                color: $accentLight40;
            }
        }

        @include mobile {
            .nav-menu__item-placeholder {
                opacity: 1;
            }
            .nav-menu__item-text {
                display: none;
            }
        }
    }

    &--dark {
        a {
            .nav-menu__item-text {
                color: white;
            }

            &:hover {
                & > .nav-menu__item-text {
                    color: $accentLight40;
                }
            }
        }
    }
}

.header-light {
    width: 100%;
    text-align: center;
    line-height: v(24);
    font-size: v(16);
    text-transform: uppercase;
    color: black;

    margin-top: v(24);
    margin-bottom: v(24);
}

.mobile-br {
    display: none;
}

@include mobile {
    .mobile-br {
        display: block;
    }
}

.video-play {
    cursor: pointer;

    transition-duration: 0.2s;
    transition-property: opacity;
    opacity: 0.5;

    width: v(72);
    height: v(72);

    &:hover {
        opacity: 1;
    }
}

@keyframes anim-overlay-closed {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    99% {
        display: initial;
    }
    100% {
        display: none;
        opacity: 0;
        transform: translateY(100%);
    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;

    &--closed {
        display: none;
    }

    &--slide-in {
        .overlay-backdrop {
            animation: anim-fade-in-07 0.5s;
        }
        .overlay-panel {
            animation: anim-slide-in-up-center 0.5s;
        }
    }

    .overlay-backdrop {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        opacity: 0.7;
    }

    .overlay-panel {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: v(50);
        max-width: v(551);
        min-height: v(300);
        background: #FFFFFF;
        border-radius: 6px 4px 4px 4px;

        .overlay__close {
            position: absolute;
            cursor: pointer;
            top: v(24);
            right: v(23);
            font-size: v(24);
            width: v(24);
            height: v(24);
        }

        header {
            text-align: center;
            margin-bottom: v(24);

            .header-light {
                margin-bottom: v(12);
            }

            h3 {
                line-height: v(18);
                font-size: v(32);
                margin: 0;
                margin-bottom: v(12);
                text-transform: none;
            }
    
            .overlay-header__bottom {
                font-size: v(12);
                text-transform: uppercase;
            }
        }
    }
}

.video-overlay {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    
    &--closed {
        display: none;
    }

    &__backdrop {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.7;
    }

    &__container {
        position: absolute;
        width: 60vw;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @include mobile {
            width: 90vw;
        }

        .video-overlay__close {
            position: absolute;
            cursor: pointer;
            font-weight: 300;
            line-height: v(24);
            font-size: v(20);
            color: white;
            left: calc(100% - 6rem);
            top: 1rem;
            z-index: 999;

            &:hover {
                font-weight: 900;
            }
        }
    }

    video {
        width: 100%;
    }
}

// ---------

.request-estimate-btn {
    height: v(32);
    line-height: v(25);
    border-radius: v(16);
    border: v(2) solid $accentLight60;
    box-sizing: border-box;
    color: $accentLight60;
    background-color: $accentLight10;
    padding-left: v(11);
    padding-right: v(16);
    // padding-top: v(8);
    // padding-bottom: v(8);
    background: none;
    font-family: Ubuntu;
    cursor: pointer;

    i {
        width: v(16);
        height: v(16);
        // line-height: 0;
        font-size: v(13);
    }

    span {
        display: inline-block;
        margin-left: v(4);
        height: v(16);
        font-weight: 500;
        font-size: v(12);
        padding-left: v(2);
        padding-right: v(2);
        transform: unquote("translateY(-"+ v(0.5) +")");
    }

    &:hover {
        border-color: $accentLight80;
        background-color: rgba(0, 0, 0, 0.027);
    }

    &--dark {
        border-color: $accentLight80;
        color: $accentLight60;
        background-color: none;

        &:hover {
            border-color: $accentLight60;
            background-color: black;
        }
    }
}

@keyframes mouse-help-icon-wheel-anim {
    0% {
        top: 1.5rem;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 3.5rem;
        opacity: 0;
    }
}

@keyframes mouse-help-icon-label-anim {
    0% {
        color: rgba(255, 255, 255, 0.63);
    }
    100% {
        color: rgba(255, 255, 255, 0.85);
    }
}

.mouse-help-icon {
    position: relative;

    width: 5rem;
    height: 8rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.3);
    border-radius: 2.7rem;

    &__wheel {
        position: absolute;
        left: 50%;
        top: 1.5rem;
        transform: translate(-50%, -50%);
        width: 1.3rem;
        height: 1.3rem;
        border-radius: v(2);
        background-color: white;
        animation: mouse-help-icon-wheel-anim 2s infinite;
    }

    &__label {
        position: absolute;
        left: 50%;
        top: 9rem;
        transform: translateX(-50%);
        font-family: 'Source Sans Pro', sans-serif;
        white-space: nowrap;
        font-size: 3rem;
        color: rgba(255, 255, 255, 0.63);
        animation: mouse-help-icon-label-anim 1.8s infinite alternate;
    }
}

.side-header {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: v(16);
    line-height: v(24);
    text-align: right;
    color: #000000;

    &::after {
        margin-left: v(8);
        display: inline-block;
        content: ' ';
        width: v(48);
        height: v(2);
        margin-bottom: v(5);
        background-color: $accentLight60;
    }

    &--dark-bg {
        color: white;
    }
}

.input-w-top-label, .textarea-w-top-label {
    position: relative;
    display: inline-block;

    & + & {
        margin-top: v(32);
    }

    input, textarea {
        position: relative;
        width: v(504);
        height: v(64);
        z-index: 2;

        text-align: center;
        line-height: v(64);
        box-sizing: border-box;
        border-radius: v(8);
        background: none;
        font-size: v(24);

        border-top: none;
        border-bottom: 2px solid $primaryDark60;
        border-left: 2px solid $primaryDark60;
        border-right: 2px solid $primaryDark60;

        outline: none;

        transition: border-color 0.2s;
        color: white;

        &:-webkit-autofill {
            background: none !important;
            -webkit-text-fill-color: white;
            transition: background-color 5000s ease-in-out 0s;
        }
    }

    textarea {
        resize: vertical;
        min-height: v(70);
        line-height: v(26);
        padding-top: v(24);
    }

    &__lg {
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        display: flex;
        flex-direction: row;
        // align-items: stretch;

        &-left {
            flex: 1;
            border-top: 2px solid $primaryDark60;
            border-radius: v(8);
            border-top-right-radius: 0;
            transition: border-color 0.2s;
        }
        label {
            display: inline-block;
            flex-basis: max-content;
            margin-left: v(14);
            margin-right: v(14);
            transform: translateY(-50%);
            height: v(16);
            line-height: v(16);
            color: $primaryDark60;
            font-size: v(16);
            transition: color 0.2s;
        }
        &-right {
            flex: 1;
            border-top: 2px solid $primaryDark60;
            border-radius: v(8);
            border-top-left-radius: 0;
            transition: border-color 0.2s;
        }
    }

    input, textarea {
        &:focus {
            border-color: $accentLight30;

            & + .input-w-top-label__lg > .input-w-top-label__lg-left,
              + .textarea-w-top-label__lg > .textarea-w-top-label__lg-left,
              + .input-w-top-label__lg > .input-w-top-label__lg-right,
              + .textarea-w-top-label__lg > .textarea-w-top-label__lg-right,
              + .input-w-top-label__lg > label,
              + .textarea-w-top-label__lg > label
            {
                border-color: $accentLight30;
                color: $accentLight30;
            }
        }
    }
}

.feedback {
    &--dark {
        position: relative;
        background-image: url("assets/feedback-bg.jpg");
        background-size: cover;

        &::before {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: black;
            opacity: 0.7;
        }
    }
}

.feedback-form {
    width: v(504);

    & > h4 {
        font-size: v(24);
        line-height: v(72);
        margin: 0;
        font-family: Ubuntu;
        font-weight: 500;
        color: $primaryDark90;
        text-align: center;
    }

    & > p {
        font-size: v(12);
        line-height: v(24);
        color: $primaryDark60;
        text-align: center;

        a {
            color: $accentLight60;
            cursor: pointer;
        }
    }

    input[type="submit"] {
        box-sizing: border-box;
        border: v(4) solid white;
        border-radius: v(32);
        height: v(56);
        width: v(216);
        background-color: $accentLight40;
        color: white;
        box-shadow: 0px v(4) 0px rgba(0, 0, 0, 0.1);

        font-weight: 500;
        font-size: v(24);
        line-height: v(24);
        text-align: center;

        color: #FFFFFF;

        cursor: pointer;

        margin-top: v(24);
        margin-bottom: v(32);

        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &--centered {
        margin-top: v(48);
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: v(48);
    }

    &--dark {
        & > h4 {
            color: white;
        }

        input[type="text"], input[type="tel"], input[type="email"] {
            color: white;
        }
    }
}

.footer {
    background-color: black;
    height: v(96);

    .section-content {
        padding-left: v(48);
        padding-right: v(48);
    }

    p {
        display: inline-block;
        margin-top: v(24);

        color: white;
        font-size: v(16);
        line-height: v(48);
        font-family: 'Source Sans Pro';
        font-weight: 400;
    }

    a {
        margin-top: v(24);
        margin-left: v(24);
        float: right;
        color: $accentLight60;
        cursor: pointer;
        font-size: v(12);
        line-height: v(48);
        font-family: 'Source Sans Pro';
    }
}