@import "./constants.scss";

@import "./core/rem.scss";
@import "./core/anim/styles.scss";
@import "./core/lazy/styles.scss";

body {
    margin: 0;
    font-family: 'Source Sans Pro';
}

section {
    position: relative;
    max-width: v(1224);
    margin: 0 auto;

    & > .section-content {
        position: relative;
        max-width: v(1224);
        margin: 0 auto;

        @include mobile {
            max-width: v(408);
        }

        &.full {
            position: relative;
            max-width: 100%;
            margin: 0;

            @include mobile {
                max-width: 100%;
            }
        }
    }
}

section, footer.full {
    overflow: hidden;
}

section.full, footer.full {
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.nobr {
    white-space: nowrap;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.mobile-br {
    display: none;
}

::selection {
    color: white;
    background: rgba(0, 0, 0, 0.65);
}

@include mobile {
    .mobile-br {
        display: block;
    }
}

@import "./parts/all.scss";