@import "../../styles.scss";

section.tech {
    h2 {
        margin-bottom: v(60);
    }

    .items-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tech-item {
        position: relative;
        flex: 1;
        margin-bottom: v(24);

        width: v(168);
        min-width: v(168);
        height: v(120);

        img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: v(168);
        }

        &--Figma {
            img {
                top: v(-5);
            }
        }

        &__text {
            @include textFont;

            position: absolute;
            top: v(68);
            height: v(48);
            line-height: v(48);
            
            font-size: v(16);
            text-align: center;
            width: 100%;
        }
    }
}
