@import "../../styles.scss";

section.tech {
    p {
        margin-bottom: v(24);
    }

    .tech-item {
        position: relative;
        flex: 1;
        margin-bottom: v(48);

        width: v(168);
        min-width: v(168);
        height: v(120);

        img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: v(168);
        }

        &--Figma {
            img {
                top: v(-5);
            }
        }

        &__text {
            @include textFont;

            position: absolute;
            top: v(68);
            height: v(48);
            line-height: v(48);
            
            font-size: v(16);
            text-align: center;
            width: 100%;
        }
    }
}

.approach {
    &__items {
        position: relative;
        margin-top: v(30);
        margin-bottom: v(48);

        li {
            img {
                @extend .l-center-block;

                width: v(72);
                height: v(72);

                margin-bottom: v(24);
            }

            p {
                text-align: center;
            }

            & + li {
                margin-left: v(24);

                &::before {
                    position: absolute;
                    transform: translateX(-50%);
                    top: v(24);

                    width: v(24);
                    height: v(24);
                    font-size: v(24);

                    font-family: "Font Awesome 5 Pro";
                    font-weight: 300;
                    content: "\f178";
                }
            }

            &:last-child {
                margin-right: v(24);
            }
        }
    }
}

@include mobile {
    .approach {
        &__items {
            display: block;
            padding-left: v(48);
            padding-right: v(48);

            li {
                display: block;
                width: 100%;

                display: flex;
                justify-content: center;
                align-items: center;

                margin-bottom: v(48);

                img {
                    margin: 0;
    
                    width: v(72) !important;
                    min-width: v(72) !important;
                    max-width: v(72) !important;
                    height: v(72) !important;
                }

                p {
                    margin-left: v(24);
                    text-align: left;

                    &::after {
                        display: inline;
                        content: '.';
                    }
                }

                & + li {
                    margin-left: 0;
    
                    &::before {
                        display: none;
                        content: "";
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}