extends ../../layout.pug

block body
    +section('top')
        +top-bar([ 'sticky', 'padding' ], { currentPage: "/tech" })
    
    +section('tech')
        h1 Технологии
        -
            // (Math.floor(Math.random() * 80 + 30) / 100 + "s")
            let pregeneratedDelay = ["0.71s", "0.74s", "0.41s", "0.31s", "0.83s", "0.69s", "0.99s", "0.48s", "0.85s", "0.64s", "0.3s", "0.62s", "0.63s", "0.78s", "0.73s", "1.05s", "0.36s", "0.88s", "1.01s", "0.39s", "0.83s", "0.43s", "0.96s", "0.38s"];
            function getDelay(i) {
                if (pregeneratedDelay.length <= i) return (Math.floor(Math.random() * 80 + 30) / 100 + "s");
                return pregeneratedDelay[i];
            }
        -
            let techs = [
                { name: 'React',        icon: '/assets/tech/React.jpg', key: 'React' },
                { name: 'Vue',          icon: '/assets/tech/Vue.jpg', key: 'Vue' },
                { name: 'JavaScript',   icon: '/assets/tech/JavaScript.jpg', key: 'JavaScript' },
                { name: 'Sass',         icon: '/assets/tech/Sass.jpg', key: 'Sass' },
                { name: 'Webpack',      icon: '/assets/tech/Webpack.jpg', key: 'Webpack' },
                { name: 'BEM',          icon: '/assets/tech/BEM.jpg', key: 'BEM' },
                { name: 'Node.js',      icon: '/assets/tech/NodeJs.jpg', key: 'NodeJs' },
                { name: 'PHP Bitrix',   icon: '/assets/tech/Bitrix.jpg', key: 'Bitrix' },
                { name: 'PHP Laravel',  icon: '/assets/tech/Laravel.jpg', key: 'Laravel' },
                { name: 'MongoDB',      icon: '/assets/tech/MongoDB.jpg', key: 'MongoDB' },
                { name: 'MySQL',        icon: '/assets/tech/MySQL.jpg', key: 'MySQL' },
                { name: 'ElasticSearch',icon: '/assets/tech/ElasticSearch.jpg', key: 'ElasticSearch' },
                { name: 'GIT',          icon: '/assets/tech/GIT.jpg', key: 'GIT' },
                { name: 'GitLab CI/CD', icon: '/assets/tech/GitLab.jpg', key: 'GitLab' },
                { name: 'TypeScript',   icon: '/assets/tech/TypeScript.jpg', key: 'TypeScript' },
                { name: 'Docker',       icon: '/assets/tech/Docker.jpg', key: 'Docker' },
                { name: 'NPM',          icon: '/assets/tech/NPM.jpg', key: 'NPM' },
                { name: 'PUG',          icon: '/assets/tech/PUG.jpg', key: 'PUG' },
                { name: 'Vetka',        icon: '/assets/tech/Vetka.jpg', key: 'Vetka' },
                { name: 'Figma',        icon: '/assets/tech/Figma.jpg', key: 'Figma' },
                { name: 'Sketch',       icon: '/assets/tech/Sketch.jpg', key: 'Sketch' },
                { name: 'Photoshop',    icon: '/assets/tech/Photoshop.jpg', key: 'Photoshop' },
                { name: 'AfterEffects', icon: '/assets/tech/AfterEffects.jpg', key: 'AfterEffects' },
                { name: 'Animate',      icon: '/assets/tech/Animate.jpg', key: 'Animate' },
            ]
        
        .items-container
            for techItem, itemIndex in techs
                div(class=classNames('tech-item', 'tech-item--' + techItem.key, 'anim'), --anim="slide-in-back", --anim-speed="0.9s", --anim-delay=(getDelay(itemIndex)), --anim-irate="0.1")
                    //- svg
                    //- img(-lazy-src!=techItem.icon)

                    //- jpg
                    +img(techItem.icon, 168, 168)
                    .tech-item__text!= techItem.name
    
    +feedback-form([ 'section', 'dark' ])
    +footer